@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@500;600;700;800&display=swap");

@font-face {
  font-family: VelaSans;
  src: url("../fonts/VelaSans/Static/OTF/VelaSans-Regular.otf");
}

/* ========== default settings ============ */

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

:root {
  --soft-blue-theme: #f4f9ff;
  --black-color: #000000;
  --white-color: #ffffff;
  --yellow-color: #e4ae0a;
  --red-color: #ff3d00;
  --orange-color: #f56704;
  --grey-color: #aba9b8;
  --light-grey-border: #dddddd;
  --purple-color: #eaebff;
  --light-black: #363636;
  --dark-purple-color: #231f40;
  --full-width: 100%;
  --default-container-width: 85%;
  --inner-container-width: 72%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Urbanist", sans-serif !important  ;
}
ul {
  padding: 0 !important;
}

li {
  list-style: none;
}

button {
  border: none;
}
.default_mb {
  margin-bottom: 80px;
}

/* ============= flex classes ============== */

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_SB {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* =========== heading classes =============== */

.section_main_heading {
  font-weight: 800;
  font-size: 40px;
  line-height: 56px;
  color: #231f40;
}
.section_sub_heading {
  font-weight: 800;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1.6px;
  color: var(--yellow-color);
}

.common_description {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
  color: var(--white-color);
}

.courses_title {
  font-weight: 700px;
  line-height: 28px;
  color: var(--grey-color);
}

/* ===== fonts classes =================== */
.urban_font_500 {
  font-size: 16px;
  font-weight: 500;
  color: var(--black-color) !important;
  text-decoration: none;
}

.vela_font_600 {
  line-height: 16px;
  font-weight: 600;
  padding: 0;
  font-family: velaSans;
}

.urban_font_500w_20f {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

/* ===== border radius classes =================== */

.border_radius_45 {
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
}

/* ========== transition classes ================ */
.transition_3s {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

/* ============== navbar section starts ============ */
header {
  position: fixed;
  width: var(--full-width);
  background-color: var(--white-color);
  z-index: 999;
}

.navbar_section {
  max-width: var(--default-container-width);
  min-height: 110px;
}

.navbar_section .brand_logo {
  width: 164px;
  height: 50px;
}

.navbar_section nav ul {
  gap: 50px;
}

.navbar_section ul li a:hover,
.navbar_section ul li a.active {
  color: var(--yellow-color) !important;
}

.navbar_section .nav_btn,
.navbar_section .collpased_btn {
  width: 245px;
  height: 60px;
  padding: 22px 20px 22px 16px;
  border: none;
  background-image: linear-gradient(var(--yellow-color), var(--orange-color));
}

.nav_btn .nav_btn_text,
.navbar_section .collpased_btn .nav_btn_text {
  font-weight: 600;
  line-height: 16px;
  color: var(--white-color);
}

.navbar_section .toggle_section i {
  font-size: 30px;
}

@media (max-width: 1360px) {
  .navbar_section .nav_menu,
  .navbar_section .nav_btn {
    display: none;
  }

  .navbar_section .collpased_btn,
  .navbar_section .toggle_section {
    display: block !important;
  }
  .navbar_section .collpase_navbar_menu {
    position: absolute;
    height: 70vh;
    width: 100%;
    top: 110px;
    left: 0%;
    background-color: var(--soft-blue-theme);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .navbar_section .collpase_navbar_menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
  }
}

@media (max-width: 576px) {
  .navbar_section .brand_logo {
    width: 100px;
    height: 30px;
  }
  .navbar_section {
    min-height: 70px;
  }
  .navbar_section .collpase_navbar_menu {
    top: 70px;
  }
}

/* ============== hero section starts ============ */

.hero_section {
  width: var(--full-width);
  min-height: 871px;
}

.hero_section_wrapper {
  padding: 100px 0;
  background-image: url("../images/hero_section-bg.png");
  background-size: cover;
  background-position: center;
}

.hero_section_content {
  width: var(--inner-container-width);
}

.hero_section_content .hero_content {
  padding-top: 74.29px;
}

.hero_section_content .hero_content .main_heading {
  font-weight: 700;
  font-size: 50px;
  font-size: 70px;
  line-height: 93px;
}

.hero_section_content .hero_content .main_heading .real::before {
  content: url("../icons/ring-icon1.svg");
  position: absolute;
  top: -100%;
  left: -15%;
}

.hero_section_content .hero_content .main_heading .impact {
  background-image: linear-gradient(
    to right,
    var(--yellow-color),
    var(--orange-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero_section_content .hero_content .main_heading .impact::after {
  content: url("../icons/impact-ring.svg");
  position: absolute;
  top: 30%;
  left: 0;
}

.hero_section_content .hero_content .sub_heading {
  font-weight: 500px;
  font-size: 20px;
  line-height: 39px;
  left: -10px;
  margin: 50px 0;
  border-left: 1px solid var(--black-color);
}
.hero_section_content .hero_content .enroll_btn {
  width: 167.98px;
  height: 58px;
  padding: 22px;
  border: 1px solid var(--black-color);
  background-color: transparent;
}
.hero_section_content .hero_content .enroll_btn p {
  color: var(--dark-purple-color);
}

.hero_section_content .hero_content .enroll_btn .icon {
  width: 13.98px;
  height: 13.98px;
  margin-left: 10px;
}

@media (max-width: 1200px) {
  .hero_section_content .row {
    flex-direction: column-reverse;
  }
  .hero_section_wrapper {
    background-image: url("../images/service-bg-theme.png");
  }
}

@media (max-width: 768px) {
  .hero_section_wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .hero_section_content .hero_content {
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .hero_section_wrapper {
    padding-top: 50px;
  }
  .hero_section_content .hero_content .main_heading {
    font-size: 55px;
  }
  .hero_section_content .hero_content .main_heading .impact::after {
    content: url("../icons/impact-ring.svg");
    position: absolute;
    top: 30%;
    left: -25%;
  }
  .hero_section_content .hero_content .sub_heading {
    font-size: 14px;
    line-height: 30px;
  }
}

/* ============== hero section starts ============ */

/* ============== feature section starts ============ */
.featured_wrapper {
  max-width: var(--default-container-width);
  min-height: 230px;
  margin-bottom: 64.42px;
  padding: 106.5px 132px;
  border-bottom: 1px solid var(--light-grey-border);
}

.featured_wrapper .row .heading {
  font-size: 24px;
  font-weight: 700px;
  line-height: 93px;
}

.featured_wrapper .row .icon {
  height: 30px;
  width: 30px;
}

.featured_wrapper #carouselExampleAutoplaying {
  display: none;
}

@media (max-width: 1440px) {
  .featured_wrapper .left_section {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

@media (max-width: 992px) {
  .featured_wrapper {
    max-width: 72%;
    margin-top: 150px;
    padding: 0;
  }
  .featured_wrapper .row .heading {
    font-size: 25px;
    text-align: center;
  }
  .featured_wrapper .row .technologies,
  .featured_wrapper .row .right_section {
    display: none;
  }

  .featured_wrapper .row .left_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .courses_container {
    width: 50%;
    margin-bottom: 50px;
    transform: translateX(30%);
    -webkit-transform: translateX(30%);
    -moz-transform: translateX(30%);
    -ms-transform: translateX(30%);
    -o-transform: translateX(30%);
  }

  .featured_wrapper #carouselExampleAutoplaying {
    display: block;
  }
}

/* ============== feature section starts ============ */

/* =========== about us section ================ */

.about_us_section {
  width: var(--full-width);
  background-image: url("../images/about--us-bg-theme.png");
  background-size: cover;
  background-position: center;
}

.about_us_wrapper {
  max-width: var(--inner-container-width);
  min-height: 585px;
}
.about_us_section .about_us_wrapper .middle_section {
  padding: 0 36px;
}

.about_us_wrapper .row .left_image,
.about_us_wrapper .row .right_image {
  max-width: 350px;
  height: 100%;
}

.about_us_wrapper .content_section .top_content {
  min-height: 277px;
  padding: 32.1px 46.83px 0 46.83px;
  border: 1px solid var(--black-color);
  margin-bottom: 31px !important;
}
.about_us_wrapper .content_section .top_content h2 {
  font-size: 40px;
  font-weight: 800px;
}

.about_us_wrapper .content_section .top_content p {
  color: #363636;
  font-family: 700px;
}

.about_us_wrapper .content_section .left_content,
.about_us_wrapper .content_section .right_content {
  min-height: 277px;
  background-color: var(--purple-color);
}

.about_us_wrapper .content_section .left_content ul li {
  font-size: 14px;
  margin-bottom: 25px;
}

.about_us_wrapper .content_section .right_content {
  padding-left: 33.9px;
  padding-top: 56.07px;
  margin-left: 25px;
  background-color: var(--light-black);
  color: var(--white-color);
  margin-bottom: 31px !important;
}

.about_us_wrapper .content_section .right_content h2 {
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 43.66px;
}

.about_us_wrapper .content_section .right_content button {
  width: 123.98px;
  height: 14px;
  gap: 10px;
  background-color: transparent;
}

.about_us_wrapper .content_section .right_content button img {
  width: 13.98px;
  height: 13.9px;
}

@media (max-width: 1200px) {
  .about_us_wrapper .row .left_image,
  .about_us_wrapper .row .right_image {
    display: none;
  }
}

@media (max-width: 992px) {
  .about_us_wrapper .content_section .top_content {
    width: 100%;
  }
  .about_us_wrapper .content_section .left_content {
    margin-bottom: 31px;
  }
  .about_us_wrapper .content_section .right_content {
    margin-left: 0px !important;
  }
}

@media (max-width: 576px) {
  .about_us_wrapper .content_section .top_content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* =========== service section starts here ================ */

.service_section {
  width: var(--full-width);
  background-image: url("../images/service-bg-theme1.png");
  background-size: cover;
  background-position: center;
}

.service_section_wrapper {
  max-width: 47%;
}

.service_content_section {
  margin-bottom: 64.67px;
}

.service_content_section .top_content h2 .opt::after {
  content: url("../icons/service-ring-icon.svg");
  position: absolute;
  top: -15%;
  left: -20%;
  z-index: -1;
}

.service_card_section .card {
  max-width: 270px;
  height: 100%;
  padding: 30px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.service_card_section .card img {
  width: 70px;
  height: 70px;
  margin-bottom: 25px;
}

.service_card_section .card .card_heading {
  font-weight: 700px;
  font-size: 20px;
  line-height: 32px;
  color: #231f40;
}

.service_card_section .card .common_description {
  color: #6f6b80;
}

.service_section_wrapper .service_card_section .card:hover {
  transform: scale(1.1);
  box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.15) !important;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

@media (max-width: 1200px) {
  .service_section_wrapper {
    max-width: 62%;
  }
}

@media (max-width: 992px) {
  .service_section {
    margin-top: 500px;
  }
}

@media (max-width: 400px) {
  .service_content_section .top_content h2 .opt::after {
    left: -50%;
  }
}

/* =========== testimonial section starts ================ */
.testimonial_section {
  margin-top: 50px;
  min-height: 768.49px;
  max-width: var(--full-width);
  padding: 0 auto;
  background-image: url("../images/testimonial-bg.png");
  background-position: center;
  background-size: cover;
}

.testimonial_section .content_section {
  width: 47%;
  min-height: 373px;
}

.testimonial_section .content_section .section_main_heading {
  margin-bottom: 55px;
}
.testimonial_section .content_section .section_main_heading .feed::after {
  content: url("../icons/testimonial-ring-icon.svg");
  position: absolute;
  top: -15%;
  left: -10%;
  width: 230.99px;
  height: 78.99px;
  z-index: -1;
}
.testimonial_section .feedback {
  color: #6f6b80;
}
.testimonial_section .student_name {
  color: var(--dark-purple-color);
}

.testimonial_section .common_description {
  color: var(--yellow-color);
}

@media (max-width: 992px) {
  .testimonial_section .content_section {
    max-width: var(--inner-container-width);
  }
}
@media (max-width: 576px) {
  .testimonial_section .content_section {
    width: 72%;
  }
}

/* =========== contact section starts ================ */

.contact_section {
  max-width: var(--full-width);
  margin-top: 67.45px;
}

.contact_content_section {
  max-width: 62%;
  min-height: 350px;
  background-color: var(--soft-blue-theme);
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  -o-border-radius: 75px;
}

.contact_content_section .image_overlay {
  height: 100%;
  width: 100%;
}
.contact_section .contact_content_section .image_overlay img {
  max-width: 50%;
  height: 100%;
}

.contact_content_section .left_section div,
.contact_content_section .input_section {
  padding: 0 40px;
}

.contact_content_section .input_section .input_box {
  max-width: 479px;
  width: 100%;
  min-height: 80px;
  background-color: transparent;
  box-shadow: 10px 20px 50px 0 rgba(0, 0, 0, 0.1);
}
.contact_content_section .input_section .input_box input {
  font-size: 14px;
  border: none;
  color: #959595;
  padding-left: 20px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-border-radius: 12px;
}
.contact_content_section .input_section .input_box button {
  max-width: 183px;
  width: 100%;
  height: 59px;
  z-index: 3;
  margin-right: 10px;
  padding: 20px, 40px, 20px, 40px;
  margin-left: auto;
  color: var(--white-color);
  background-color: var(--yellow-color);
}

@media (max-width: 1400px) {
  .contact_content_section .input_section .input_box {
    top: -15%;
  }
  .contact_content_section .input_section .input_box button {
    position: absolute;
    top: 100px;
    left: 0;
    max-width: 479px;
    border: 1px solid white;
  }
}

@media (max-width: 992px) {
  .contact_content_section {
    min-height: 500px;
  }
  .contact_content_section .input_section {
    display: flex;
    justify-content: center;
  }
  .contact_content_section .image_overlay {
    display: none !important;
  }

  .contact_content_section .input_section .input_box {
    box-shadow: none;
    top: -40%;
  }
}

@media (max-width: 768px) {
  .contact_content_section .image_overlay {
    justify-content: center;
  }
  .contact_section .contact_content_section {
    max-width: var(--inner-container-width);
  }
}

@media (max-width: 576px) {
  .contact_section .contact_content_section {
    max-width: var(--default-container-width);
  }
}

/* =========== faq section starts ================ */

.faq_section {
  max-width: var(--full-width);
  margin-top: 67.45px;
}

.faq_section .faq_wrapper {
  max-width: 62%;
}

.faq_section .faq_wrapper .top_section .section_main_heading .freq::after {
  content: url("../icons/faq-ring-icon.svg");
  position: absolute;
  top: -20%;
  left: -20%;
  z-index: -1;
}

.faq_section .bottom_section {
  margin-top: 71.76px;
}

.faq_section .bottom_section .image_overlay {
  top: 100px;
  left: 138.5px;
  height: 100%;
}

.faq_section .bottom_section .accordion .accordion-item {
  border: none;
  margin-bottom: 15px;
}
.faq_section .bottom_section .accordion .accordion-item h2 {
  font-family: velaSans;
  font-size: 21px;
  font-weight: 400;
  line-height: 19px;
}
.faq_section .bottom_section .accordion .accordion-button {
  background-color: var(--soft-blue-theme);
}
.faq_section .bottom_section .accordion .accordion-button::after {
  width: 9.27px;
  height: 17.31px;
  color: rgb(168, 164, 164);
  background-image: url("../icons/accordion-icon.svg");
  background-position: center;
  background-size: cover;
}

.faq-icon-div {
  padding-right: 68.1px;
  width: 100%;
  min-width: var(--default-container-width);
}

@media (max-width: 992px) {
  .faq_section {
    margin-top: 100px;
  }
}

@media (max-width: 768px) {
  .faq_section .faq_wrapper {
    max-width: var(--inner-container-width);
  }
}

/* =========== footer section starts ================ */

.footer_section {
  max-width: var(--full-width);
  margin-top: 97.01px;
  padding-top: 96px;
  padding-bottom: 22.76px;
  background-color: var(--dark-purple-color);
}

.footer_section .row {
  max-width: var(--inner-container-width);
}

.footer_section .left_section .info {
  margin-bottom: 34px;
}

.footer_section .left_section .logo_section {
  max-width: 207.78px;
  height: 20px;
}

.footer_section .quick_links_section h4,
.footer_section .contact_info_section h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 20px;
  color: var(--white-color);
}

.footer_section .quick_links_section ul li,
.footer_section .contact_info_section ul li a {
  margin-bottom: 27px;
}
.footer_section .quick_links_section .icon,
.footer_section .contact_info_section ul li .icon {
  margin-right: 10px;
}

@media (max-width: 1360px) {
  .footer_section .footer_offset_column {
    display: none;
  }
}

@media (max-width: 786px) {
  .footer_section .left_section .info p {
    padding-bottom: 20px;
  }
}

/* =================== theme icon starts ================ */

.theme_icon_5 {
  width: 45px;
  height: 41px;
  left: 534.64px;
  z-index: -1;
}

.theme_icon_7 {
  top: -50px;
  right: 339.14px;
  z-index: -1;
  height: 113px;
}

@media (max-width: 576px) {
  .footer_section {
    margin-top: 300px;
  }
  .theme_icon_5 {
    left: 0;
  }
  .faq-icon-div {
    display: none;
  }
  .section_sub_heading,
  .common_description,
  .faq_section .bottom_section .accordion .accordion-button,
  .accordion-body {
    font-size: 14px;
  }
}
@media (max-width: 477px) {
  .section_main_heading,
  .about_us_wrapper .content_section .top_content h2 {
    font-size: 35px;
  }
}
