@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@500;600;700;800&display=swap");

@font-face {
  font-family: VelaSans;
  src: url("../fonts/VelaSans/Static/OTF/VelaSans-Regular.otf");
}

/* =========== setting fonts ================= */

h1,
h2,
h4,
p,
.navbar_section ul li a,
.nav_btn .nav_btn_text,
.navbar_section .collpased_btn .nav_btn_text,
.feautured_section .row .heading,
.feautured_section .row .technologies .text,
.about_us_section .content_section .top_content h2,
.about_us_section .content_section .top_content p,
.about_us_section .content_section .left_content ul li,
.contact_section .input_section .input_box button,
.faq_section .bottom_section .accordion .accordion-button,
.footer_section .contact_info_section ul li a {
  font-family: "Urbanist", sans-serif;
}

/* ============ setting fonts ends ================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --soft-blue-theme: #f4f9ff;
  --black-color: #000000;
  --white-color: #ffffff;
  --yellow-color: #e4ae0a;
  --red-color: #ff3d00;
  --orange-color: #f56704;
  --grey-color: #aba9b8;
  --light-grey-border: #dddddd;
  --purple-color: #eaebff;
  --light-black: #363636;
  --dark-purple-color: #231f40;
  --full-width: 100vw;
  --default-container-width: 85%;
  --inner-container-width: 72%;
}

/* ========== default settings ============ */

a {
  text-decoration: none;
}
li {
  list-style: none;
}
p {
  margin: 0;
}
button {
  border: none;
}
.defaultBottomMargin {
  margin-bottom: 80px;
}

/* ============ default settings ends */

/* ============= flex classes starts ============== */
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexHorizonalCenter {
  display: flex;
  justify-content: center;
}

.flexSB {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexCol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ============= flex classess ends ============== */

/* ============== navbar section starts ============ */

header {
  position: fixed;
  width: var(--full-width);
  background-color: var(--white-color);
  z-index: 999;
}

.navbar_section {
  max-width: var(--default-container-width);
  margin: 0 auto;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_section .brand_logo {
  width: 164px;
  height: 50px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.navbar_section nav {
  height: 11px;
}

.navbar_section ul {
  width: 572px;
  height: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_section ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_section ul #portfolio {
  width: 58px;
  height: 11px;
}
.navbar_section ul #courses {
  width: 57px;
  height: 11px;
}
.navbar_section ul #about {
  width: 44px;
  height: 11px;
}
.navbar_section ul #application_process {
  height: 11px;
}
.navbar_section ul #contact_us {
  height: 11px;
}

.navbar_section ul li a {
  font-size: 16px;
  color: var(--black-color);
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
}

.navbar_section .collpased_btn {
  display: none;
}

.navbar_section .nav_btn,
.navbar_section .collpased_btn {
  width: 245px;
  height: 60px;
  gap: 140px;
  padding: 22px 20px 22px 16px;
  background-image: linear-gradient(var(--yellow-color), var(--orange-color));
  border: none;
}

.nav_btn .nav_btn_icon,
.navbar_section .collpased_btn .nav_btn_icon {
  width: 16px;
  height: 16px;
  padding: 1.33px, 5.33px, 0.67px, 0px;
}
.nav_btn .nav_btn_text,
.navbar_section .collpased_btn .nav_btn_text {
  width: 183px;
  height: 14px;
  font-weight: 600;
  line-height: 16px;
  color: var(--white-color);
}
.navbar_section .toggle_section {
  display: flex;
  justify-content: end;
  align-items: center;
  display: none;
}

.navbar_section .nav_menu {
  display: block;
}
.navbar_section .toggle_section .fa-xmark {
  border: none;
}
.navbar_section .toggle_section i {
  font-size: 30px;
  color: black;
}

/* ============== media query starts ============ */

@media (max-width: 1360px) {
  .navbar_section .nav_menu,
  .navbar_section .nav_btn {
    display: none;
  }

  .navbar_section .collpased_btn {
    display: block;
  }

  .navbar_section .collpase_navbar_menu {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 110px;
    left: 0%;
    background-color: var(--soft-blue-theme);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
  }

  .navbar_section .collpase_navbar_menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .navbar_section .collpase_navbar_menu ul li {
    margin-bottom: 50px;
  }
  .navbar_section .toggle_section {
    display: block;
  }
}

@media (max-width: 576px) {
  .navbar_section .brand_logo {
    width: 100px;
    height: 30px;
  }
}

/* ============== media query ends ============ */

/* ============== navbar section ends ============ */

/* ============== hero section starts ============ */

.hero_section_container {
  width: var(--full-width);
  min-height: 871px;
  height: 100%;
  position: relative;
}

.theme_gradient_image_overlay1 {
  position: absolute;
  top: -110px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.hero_section_wrapper {
  width: var(--full-width);
  padding-top: 157.01px;
}

.hero_section {
  margin: 0 auto;
  width: var(--inner-container-width);
}

.hero_section .hero_content {
  width: 100%;
  height: 399px;
}

.hero_section .hero_content .main_heading {
  width: 100%;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 30px;
  font-size: 70px;
  line-height: 93px;
  font-family: VelaSans;
}

.hero_section .hero_content .main_heading span {
  background: -webkit-linear-gradient(var(--yellow-color), var(--orange-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero_section .hero_content .sub_heading {
  font-weight: 500px;
  font-size: 20px;
  line-height: 39px;
  border-left: 1px solid var(--black-color);
  position: relative;
  left: -10px;
  margin: 50px 0;
}
.hero_section .hero_content .enroll_btn {
  width: 167.98px;
  height: 58px;
  border: 1px solid var(--black-color);
  padding: 22px;
  background-color: transparent;
}
.hero_section .hero_content .enroll_btn .content {
  font-family: velaSans;
  font-size: 20px;
  font-weight: 600px;
}

.hero_section .hero_content .enroll_btn .icon {
  width: 13.98px;
  height: 13.98px;
  margin-left: 10px;
}
.hero_section .row .right_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_section .right_section .img_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ============== media query starts ============ */

@media (max-width: 1200px) {
  .hero_section .row {
    flex-direction: column-reverse;
  }
}

@media (max-width: 768px) {
  .hero_section_wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .hero_section .hero_content .main_heading {
    font-size: 40px;
    line-height: 50px;
  }
  .hero_section .hero_content .sub_heading {
    font-size: 20px;
    line-height: 39px;
  }
}

@media (max-width: 576px) {
  .hero_section .hero_content .sub_heading {
    font-size: 14px;
    line-height: 30px;
  }
}

/* ============== media query ends ============ */
/* ============== hero section starts ============ */

/* ============== feature section starts ============ */
.feautured_section {
  max-width: var(--default-container-width);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-bottom: 1px solid var(--light-grey-border);
  gap: 193px;
  padding: 106.5px 132px;
}

.feautured_section .row .heading {
  width: 273.13px;
  height: 17px;
  font-size: 24px;
  font-weight: 700px;
  line-height: 93px;
}
.feautured_section .row .technologies {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feautured_section .row .icon {
  height: 30px;
  width: 30px;
}

.feautured_section .row .technologies #html {
  font-weight: 700px;
  line-height: 28px;
  color: var(--grey-color);
}
.feautured_section .row .technologies #css {
  font-weight: 700px;
  line-height: 28px;
  color: var(--grey-color);
}
.feautured_section .row .technologies #javascript {
  font-weight: 700px;
  line-height: 28px;
  color: var(--grey-color);
}
.feautured_section .row .technologies #react {
  font-weight: 700px;
  line-height: 28px;
  color: var(--grey-color);
}
.feautured_section .row .technologies #angular {
  font-weight: 700px;
  line-height: 28px;
  color: var(--grey-color);
  position: relative;
}

/* ============== media query starts ============ */

@media (max-width: 1200px) {
  .feautured_section .left_section {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

@media (max-width: 992px) {
  .feautured_section {
    max-width: 72%;
    width: 100%;
    margin-top: 150px;
  }
  .feautured_section {
    padding-top: 45px;
  }
  .feautured_section .row .left_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .feautured_section .right_section .technologies {
    width: 100%;
  }
  .feautured_section .row .heading {
    font-size: 25px;
    width: 100%;
    height: 100%;
  }
  .feautured_section .row .technologies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .feautured_section {
    padding: 0;
  }
  .feautured_section .row .technologies #html,
  .feautured_section .row .technologies #css,
  .feautured_section .row .technologies #javascript,
  .feautured_section .row .technologies #react,
  .feautured_section .row .technologies #angular {
    width: 100%;
    margin-bottom: 50px;
  }
  .feautured_section .row .technologies #html,
  .feautured_section .row .technologies #css,
  .feautured_section .row .technologies #javascript,
  .feautured_section .row .technologies #react,
  .feautured_section .row .technologies #angular {
    width: 50%;
    transform: translateX(30%);
    -webkit-transform: translateX(30%);
    -moz-transform: translateX(30%);
    -ms-transform: translateX(30%);
    -o-transform: translateX(30%);
  }
}

/* ============== media query ends ============ */
/* ============== feature section starts ============ */

/* =========== about us section ================ */

.about_us_container {
  width: var(--full-width);
}
.about_us_section {
  min-height: 585px;
  height: 100%;
  margin: 64.42px auto 0 auto;
  max-width: var(--inner-container-width);
  width: 100%;
}

.about_us_section .row .left_image,
.about_us_section .row .right_image {
  max-width: 350px;
  width: 100%;
  height: 585px;
}
.about_us_section .row img,
.about_us_section .row img {
  height: 100%;
  width: 100%;
}
.about_us_section .content_section {
  height: 585px;
  width: 100%;
  margin-bottom: 20px;
}
.about_us_section .content_section .top_content {
  min-height: 277px;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
  border: 1px solid var(--black-color);
  padding-left: 46.83px;
  padding-right: 46.83px;
  margin-bottom: 31px !important;
  margin: 0 auto;
}
.about_us_section .content_section .top_content h2 {
  max-width: 218px;
  width: 100%;
  height: 56px;
  margin-top: 32.1px;
}

.about_us_section .content_section .top_content p {
  min-height: 130px;
}

.about_us_section .content_section .left_content {
  width: 100%;
  height: 277px;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
  background-color: var(--purple-color);
  margin-bottom: 31px !important;
}

.about_us_section .content_section .left_content ul {
  max-width: 225px;
  height: 190px;
}
.about_us_section .content_section .left_content ul li {
  font-size: 14px;
  height: 27px;
  margin-bottom: 25px;
}
.about_us_section .content_section .left_content ul li img {
  width: 24px;
  height: 25px;
  padding: 2.49px, 3.98px, 2.49px, 0px;
}

.about_us_section .content_section .right_content {
  width: 100%;
  height: 277px;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
  background-color: var(--light-black);
  color: var(--white-color);
  padding-left: 33.9px;
  padding-top: 56.07px;
  margin-bottom: 31px !important;
}

.about_us_section .content_section .right_content h2 {
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 43.66px;
}

.about_us_section .content_section .right_content button {
  width: 123.98px;
  height: 14px;
  gap: 10px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
}

.about_us_section .content_section .right_content button p {
  width: 100px;
  height: 14px;
  line-height: 16px;
  font-weight: 600;
  color: var(--white-color);
  padding: 0;
  font-family: velaSans;
}
.about_us_section .content_section .right_content button img {
  width: 13.98px;
  height: 13.9px;
}

.about_us_section .content_section .row .right_col {
  display: flex;
  justify-content: end;
  align-items: center;
}

/* =========== media query starts ================ */

@media (max-width: 1360px) {
  .about_us_section .content_section .row .right_col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .about_us_section .row .left_image,
  .about_us_section .row .right_image {
    display: none;
  }
}

@media (max-width: 992px) {
  .about_us_section .row .left_image,
  .about_us_section .row .right_image {
    display: none;
  }

  .about_us_section .content_section .top_content {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .about_us_section .content_section .top_content p {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .about_us_section .content_section .top_content p {
    font-size: 14px;
  }
  .about_us_section .content_section .top_content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .about_us_section .content_section .right_content h2 {
    font-size: 25px;
  }
}
/* =========== media query ends ================ */
/* =========== about us section ends here ================ */
/* =========== service section starts here ================ */

.service_section_container {
  width: var(--full-width);
  position: relative;
}

.service_section_wrapper {
  max-width: 47%;
  width: 100%;
  margin: 0 auto;
}

.theme_gradient_img_overlay2 {
  position: absolute;
  top: 139px;
  left: 0;
  height: 871px;
  min-width: var(--default-container-width);
  width: 100%;
  z-index: -1;
}

.service_section {
  height: 138.08px;
  margin-bottom: 14.6px;
}

.service_section p {
  font-weight: 800;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1.6px;
  color: var(--yellow-color);
}

.service_section .top_heading_section h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 56px;
  color: #231f40;
}

.service_card_section {
  width: 100%;
  height: 100%;
}

.service_card_section .row .card_col {
  margin-bottom: 30px;
}

.service_card_section .card {
  max-width: 270px;
  width: 100%;
  min-height: 398px;
  height: 100%;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 80px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.service_card_section .card img {
  width: 70px;
  height: 70px;
  margin-bottom: 25px;
}

.service_card_section .card .card_heading {
  font-weight: 700px;
  font-size: 20px;
  line-height: 32px;
  color: #231f40;
}

.service_card_section .card .card_description {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #6f6b80;
}

.service_section_wrapper .service_card_section .card:hover {
  transform: scale(1.1);
  box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.15) !important;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* =========== media query starts ================ */

@media (max-width: 1200px) {
  .service_section_wrapper {
    max-width: 62%;
  }
}

@media (max-width: 992px) {
  .service_section_container {
    margin-top: 350px;
  }
  .service_section_wrapper {
    max-width: var(--inner-container-width);
    width: 100%;
  }
}

/* =========== media query ends ================ */

/* =========== service section ends ================ */

/* =========== testimonial section starts ================ */
.testimonial_section {
  position: relative;
  margin-top: 50px;
  height: 768.49px;
  max-width: var(--full-width);
  width: 100%;
  background-color: var(--soft-blue-theme);
  /* background-image: url("./images/testimonial-img.png");
  background-size: cover;
  background-position: center; */
  padding: 0 auto;
}

.testimonial_section .content_section {
  width: 47%;
  margin: 0 auto;
  min-height: 373px;
}

.testimonial_section .icon1 {
  position: absolute;
  top: 269.47px;
  left: 229.5px;
}
.testimonial_section .icon2 {
  position: absolute;
  top: 593.21px;
  left: 475px;
}
.testimonial_section .icon3 {
  position: absolute;
  width: 100%;
  top: 520.1px;
  display: flex;
  justify-content: end;
  align-items: center;
  right: 340.9px;
}

.testimonial_section .section_heading {
  font-size: 16px;
  font-weight: 800px;
  line-height: 26px;
  letter-spacing: 1.6px;
  color: var(--yellow-color);
}
.testimonial_section h2 {
  font-size: 40px;
  font-weight: 800px;
  line-height: 56px;
  color: var(--dark-purple-color);
  margin-bottom: 55px;
}

.testimonial_section .feedback {
  font-size: 20px;
  font-weight: 500;
  color: #6f6b80;
  line-height: 32px;
}
.testimonial_section .student_name {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: var(--dark-purple-color);
}

.testimonial_section .student_role {
  font-size: 16px;
  font-weight: 500px;
  line-height: 26px;
  color: var(--yellow-color);
}
.testimonial_section .image_section {
  width: 250px;
  height: 78px;
  gap: 18px;
}
.testimonial_section .image_section img {
  width: 68px;
  height: 68px;
  border-radius: 68px;
  -webkit-border-radius: 68px;
  -moz-border-radius: 68px;
  -ms-border-radius: 68px;
  -o-border-radius: 68px;
}
/* =========== media query starts ================ */

@media (max-width: 992px) {
  .testimonial_section .content_section {
    max-width: var(--inner-container-width);
    width: 100%;
  }
}
@media (max-width: 576px) {
  .testimonial_section .feedback {
    font-size: 16px;
  }

  .testimonial_section .icon2 {
    padding-left: 0;
  }
  .testimonial_section h2 {
    font-size: 30px;
  }
  .testimonial_section .feedback {
    font-size: 20px;
    font-weight: 500;
    color: #6f6b80;
    line-height: 32px;
  }
  .testimonial_section .icon3,
  .testimonial_section .icon1 {
    display: none;
  }
}
/* =========== media query ends ================ */

/* =========== testimonial section ends here ================ */

/* =========== contact section starts ================ */

.contact_wrapper {
  max-width: var(--full-width);
  width: 100%;
  height: 100%;
  padding: 0;
  margin-top: 67.45px;
}

.contact_section {
  position: relative;
  max-width: 62%;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  min-height: 350px;
  background-color: #f4f9ff;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  -o-border-radius: 75px;
}
.contact_section .image_overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: end;
}
.contact_section .image_overlay img {
  max-width: 50%;
  height: 100%;
}

.contact_section .row {
  z-index: 1;
  min-height: 292px;
  height: 100%;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  -o-border-radius: 75px;
}
.contact_section .left_section {
  display: grid;
  place-items: center;
}

.contact_section .left_section div {
  padding-left: 40px;
  padding-right: 40px;
}

.contact_section .left_section p {
  font-size: 16px;
  font-weight: 800px;
  line-height: 26px;
  letter-spacing: 1.6px;
  color: var(--yellow-color);
}

.contact_section .left_section h2 {
  font-size: 40px;
  font-weight: 800px;
  line-height: 56px;
}

.contact_section .input_section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  -o-border-radius: 75px;
  background-color: transparent;
  padding: 0 40px;
}

.contact_section .input_section .input_box {
  max-width: 479px;
  width: 100%;
  min-height: 80px;
  border-radius: 12px;
  background-color: var(--white-color);
  border: 1px solid #f1f1f1;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-border-radius: 12px;
  box-shadow: 10px 20px 50px 0 rgba(0, 0, 0, 0.1);
}
.contact_section .input_section .input_box input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  border: none;
  color: #959595;
  padding-left: 20px;
}
.contact_section .input_section .input_box button {
  max-width: 183px;
  width: 100%;
  height: 59px;
  top: 3827.81px;
  left: 1262.5px;
  padding: 20px, 40px, 20px, 40px;
  gap: 10px;
  background-color: var(--yellow-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.065em;
  color: var(--white-color);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  margin-right: 15px;
}
.contact_section .input_section .hidden_btn {
  display: none;
}

/* ============ media query starts ============= */

@media (max-width: 1400px) {
  .contact_section .input_section .input_box {
    min-height: 50px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .contact_section .input_section .input_box button {
    transform: translateY(120%);
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -o-transform: translateY(120%);
    border: 1px solid white;
  }
  .contact_section .input_section .input_box {
    position: relative;
  }
  .contact_section .input_section .input_box input {
    position: absolute;
  }
}

@media (max-width: 1024px) {
  .contact_section .left_section h2 {
    font-size: 30px;
    line-height: 50px;
  }
}

@media (max-width: 992px) {
  .contact_section .image_overlay {
    display: none;
  }
  .contact_section .left_section {
    margin-bottom: 100px;
  }
  .contact_section .input_section {
    display: flex;
    justify-content: center;
  }
  .contact_section .input_section .input_box {
    box-shadow: none;
  }

  .contact_section .input_section {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .contact_section .left_section {
    transform: translateY(25%);
    -webkit-transform: translateY(25%);
    -moz-transform: translateY(25%);
    -ms-transform: translateY(25%);
    -o-transform: translateY(25%);
  }
}

@media (max-width: 768px) {
  .contact_section .image_overlay {
    justify-content: center;
  }
  .contact_wrapper .contact_section {
    max-width: var(--inner-container-width);
  }

  .contact_section .input_section .input_box {
    width: 100%;
    height: 100%;
  }
  .contact_section {
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
  }
}

@media (max-width: 576px) {
  .contact_wrapper .contact_section {
    max-width: var(--default-container-width);
  }
  .contact_section .left_section {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
  .contact_section .input_section {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
  .contact_section .left_section {
    padding: 70px 30px 0 30px;
  }

  .contact_section .left_section div {
    padding-left: 10px;
  }
  .contact_section .left_section p {
    font-size: 14px;
  }

  .contact_section .input_section {
    flex-direction: column;
  }

  .contact_section .input_section .input_box {
    min-height: 40px;
  }
  .contact_section .input_section .input_box input {
    font-size: 14px;
  }
}

/* =========== media query ends ================ */

/* =========== faq section starts ================ */

.faq_section {
  position: relative;
  max-width: var(--full-width);
  width: 100%;
  margin-top: 67.45px;
  height: 100%;
}

.faq_section .faq_container {
  max-width: 62%;
  width: 100%;
  margin: 0 auto;
}

.faq_section .top_section p {
  font-size: 16px;
  font-weight: 800px;
  line-height: 26px;
  letter-spacing: 1.6px;
  color: var(--yellow-color);
}
.faq_section .top_section h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 56px;
  color: var(--dark-purple-color);
}

.faq_section .bottom_section {
  margin-top: 71.76px;
  width: 100%;
  height: 390.82px;
}

.faq_section .bottom_section .image_overlay {
  position: absolute;
  top: 100px;
  left: 138.5px;
  height: 100%;
}

.faq_section .bottom_section .accordion .accordion-item {
  border: none;
  margin-bottom: 15px;
}
.faq_section .bottom_section .accordion .accordion-item h2 {
  font-family: velaSans;
  font-size: 21px;
  font-weight: 400;
  line-height: 19px;
}
.faq_section .bottom_section .accordion .accordion-button {
  background-color: var(--soft-blue-theme);
}
.faq_section .bottom_section .accordion .accordion-button::after {
  background-image: url("./images/acordion-arrow-icon.png");
  background-position: center;
  background-size: cover;
  width: 9.27px;
  height: 17.31px;
  color: rgb(168, 164, 164);
}

.faq-icon-div {
  display: flex;
  justify-content: end;
  padding-right: 68.1px;
  width: 100%;
  min-width: var(--default-container-width);
}

/* =========== media query starts ================ */

@media (max-width: 992px) {
  .faq_section {
    margin-top: 200px;
  }
}

@media (max-width: 768px) {
  .faq_section .top_section p {
    font-size: 20px;
  }

  .faq_section .faq_container {
    max-width: var(--inner-container-width);
    width: 100%;
  }
}

/* =========== media query ends ================ */
/* =========== faq section ends ================ */

/* =========== footer section starts ================ */

.footer_section {
  max-width: var(--full-width);
  width: 100%;
  margin-top: 97.01px;
  background-color: var(--dark-purple-color);
  height: 100%;
  padding-top: 96px;
  padding-bottom: 22.76px;
}

.footer_section .row {
  max-width: var(--inner-container-width);
  width: 100%;
  margin: 0 auto;
}

.footer_section .left_section .logo {
  max-width: 80%;
  height: 69.93px;
  padding: 0px, 120px, 0px, 0px;
  margin-bottom: 19px;
}

.footer_section .left_section .info {
  max-width: 358.87;
  width: 100%;
  height: 100%;
  padding: 19px, 0px, 34px, 0px;
}
.footer_section .left_section .info p {
  max-width: 358.87;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: var(--white-color);
}

.footer_section .left_section .logo_section {
  max-width: 207.78px;
  width: 100%;
  height: 20px;
}

.footer_section .left_section .logo_section #logo1 {
  width: 10.35px;
  height: 18px;
}
.footer_section .left_section .logo_section #logo2 {
  width: 18px;
  height: 18px;
}
.footer_section .left_section .logo_section #logo3 {
  width: 14.99px;
  height: 18px;
}
.footer_section .left_section .logo_section #logo4 {
  width: 20.44px;
  height: 20px;
}

.footer_section .offset-2 {
  padding-left: 65px;
}

.footer_section .quick_links_section {
  max-width: 300px;
  width: 100%;
  height: 265.27px;
  top: 96px;
  left: 960px;
}

.footer_section .quick_links_section h4 {
  max-width: 205px;
  width: 100%;
  height: 51px;
  padding: 0px, 0px, 15px, 0px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: var(--white-color);
  margin-bottom: 20px;
}
.footer_section .quick_links_section ul {
  width: 100%;
  height: 164.38px;
  padding: 0;
}
.footer_section .quick_links_section ul li {
  margin-bottom: 27px;
}
.footer_section .quick_links_section .icon {
  margin-right: 10px;
}
.footer_section .quick_links_section ul li a {
  text-decoration: none;
  color: var(--white-color);
}
.footer_section .quick_links_section ul #about-us {
  width: 100%;
  height: 19px;
}
.footer_section .quick_links_section ul #live-project-and-portflio {
  width: 100%;
  height: 19px;
}
.footer_section .quick_links_section ul #blogs-and-news {
  width: 100%;
  height: 19px;
}
.footer_section .quick_links_section ul #contacts {
  width: 100%;
  height: 19px;
}

.footer_section .contact_info_section {
  max-width: 300px;
  width: 100%;
  height: 396.24px;
  padding: 15px, 15px, 80.08px, 15px;
}

.footer_section .contact_info_section h4 {
  max-width: 270px;
  width: 100%;
  height: 71px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: white;
}
.footer_section .contact_info_section ul li a {
  color: var(--white-color);
  text-decoration: none;
}
.footer_section .contact_info_section ul li .icon {
  margin-right: 12px;
}
.footer_section .contact_info_section ul #adressline1 {
  max-width: 270px;
  width: 100%;
  height: 94px;
  padding-bottom: 27px;
}
.footer_section .contact_info_section ul #adressline2 {
  max-width: 270px;
  width: 100%;
  height: 67px;
  padding-bottom: 27px;
}
.footer_section .contact_info_section ul #phoneNumber {
  max-width: 270px;
  width: 100%;
  height: 48.08px;
  padding-bottom: 27px;
}

.footer_section .contact_info_section ul #email {
  max-width: 270px;
  width: 100%;
  height: 21.08px;
}

/* =========== media query starts ================ */

@media (max-width: 1360px) {
  .footer_section .footer_offset_column {
    display: none;
  }
}

@media (max-width: 786px) {
  .footer_section .left_section .info p {
    padding-bottom: 20px;
  }
}
/* =================== media query starts ================ */
/* =================== footer section starts ================ */

/* =================== theme icon starts ================ */
.theme_icon_1 {
  position: absolute;
  top: 71.88px;
  left: 110.49px;
}
.theme_icon_2 {
  position: relative;
  top: -50px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.theme_icon_2 img {
  width: 80px;
  height: 80px;
  padding: 2.61px, 1.65px, 3.29px, 0.08px;
}
.theme_icon_3 {
  position: relative;
  width: 19.42px;
  height: 19.42px;
  top: 55.82px;
  left: 125.49px;
}
.theme_icon_4 {
  position: relative;
  top: -327.76px;
  z-index: 5;
  display: flex;
  justify-content: end;
  z-index: -1;
}
.theme_icon_4 img {
  width: 78.27px;
  height: 74.1px;
}
.theme_icon_5 {
  position: relative;
  width: 45px;
  height: 41px;
  left: 534.64px;
  z-index: -1;
}

.theme_icon_6 {
  position: relative;
  top: 505.45px;
  left: 191.7px;
  width: 78.27px;
  height: 74.1px;
}

.theme_icon_7 {
  position: relative;
  top: -50px;
  display: flex;
  justify-content: end;
  align-items: center;
  right: 339.14px;
  z-index: -1;
  height: 113px;
}

@media (max-width: 576px) {
  .theme_icon_5 {
    left: 0;
  }
}

/* =========== theme icons ends */
